<div x-data="{ open: false }" 
     @keydown.window.prevent.shift.question="open = !open" 
     x-show="open" 
     class="vmp-modal-overlay" 
     style="display: none;"
     x-transition.opacity>
    
    <div class="vmp-modal max-w-lg" @click.outside="open = false">
        <div class="vmp-modal-header flex justify-between items-center">
            <h3 class="vmp-h4">Keyboard Shortcuts</h3>
            <button class="vmp-modal-close" @click="open = false">×</button>
        </div>
        
        <div class="vmp-modal-body p-0">
            <table class="vmp-table w-full">
                <tbody class="divide-y" style="divide-color: var(--vmp-border);">
                    <tr>
                        <td class="vmp-body-small">Open Command Palette</td>
                        <td class="text-right"><span class="vmp-tag vmp-tag-mono">Cmd + K</span></td>
                    </tr>
                    <tr>
                        <td class="vmp-body-small">Search Focused</td>
                        <td class="text-right"><span class="vmp-tag vmp-tag-mono">/</span></td>
                    </tr>
                    <tr>
                        <td class="vmp-body-small">Close Modal / Clear</td>
                        <td class="text-right"><span class="vmp-tag vmp-tag-mono">Esc</span></td>
                    </tr>
                    <tr>
                        <td class="vmp-body-small">Toggle Theme</td>
                        <td class="text-right"><span class="vmp-tag vmp-tag-mono">Shift + T</span></td>
                    </tr>
                    <tr>
                        <td class="vmp-body-small">Show Help</td>
                        <td class="text-right"><span class="vmp-tag vmp-tag-mono">?</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vmp-modal-footer">
            <button class="vmp-btn vmp-btn-ghost w-full" @click="open = false">Close</button>
        </div>
    </div>
</div>